.globalTemporalSerie{
	fill: #71C1B4;/*#3D4A57;*/
	opacity: 0.3;
}

.globalTemporalSerieLine{
	stroke:#71C1B4;
	opacity: 1;
	stroke-width:1.5;
}


.comp1{
	fill:#267BA0;/*#AEB4B4;*/
	stroke: #267BA0;
	stroke-width:1.5;
	fill-opacity: 0.5;
}

.barTemporalSerie{
	fill: #71C1B4;/*#3D4A57;*/
	stroke:#71C1B4;
	fill-opacity: 0.3;
	stroke-width:1.5;
	stroke-opacity:1;
}

.barOverlap{
   fill: #267BA0;
   stroke:#267BA0;
   fill-opacity:0.5; 
   stroke-width:1.5;
}

.bumpchart{
	stroke-opacity: 0.75;
	fill-opacity: 0.2;
}

.bumpchartSelected{
	stroke-opacity: 1;
	fill-opacity: 0.6;
	fill-color:black;
}

#sunBarChart p.legend {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 11px;
}

#sunBarChart p.legendPercent {
	font-family: Pacifico;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 24px;
}

#sunBarChart div {
        float: left;
        position: relative;

    }

/*----------------------------------*/
#CrimeTypeList text{
    fill: black;
}

#YearRankingView text{
    fill: black;
}

#YearRankingView .axis text  {
     font-size: 10px;
    text-anchor: end !important;
    transform: rotate(-60deg);
}

#TotalCumulative{
     position:absolute;
     left:0;
     bottom:0;
     width: 100%;
     height: 100%;
}

#CrimeTypeList .y.axisb text{
    text-transform: lowercase;
    font-size: 12px;

}

.y.axisb path,
.y.axisb line{
    fill:none;
    stroke: none;
}

div.tooltip {   
    position: absolute;         
    text-align: center;         
    padding: 2px;               
    font: 11px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}

.grid{
    opacity: 0.3;
}
