<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>CrimAnalyzer</title>
  <!--leaflet-->
  <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
  <link rel="stylesheet" href="{% static 'lib/css/leaflet.contextmenu.css' %}"  />

  <link rel="stylesheet" type="text/css" href="{% static 'css/easy-button.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.draw.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">


  <!-- D3js-->
  <script src="http://d3js.org/d3.v4.min.js"></script>
  <script src="{% static 'lib/js/gauge.js' %}" type="text/JavaScript"></script>


  <link rel="stylesheet" href="{% static 'lib/css//bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'lib/css/keen-dashboards.css' %}">
  <link rel="stylesheet" href="{% static 'lib/css/dc.min.css' %}">
  <!--<link rel="stylesheet" href="{% static 'lib/css/leaflet.css' %}"> -->
  
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'css/cross.css' %}">
  <!--<link rel="stylesheet" href="{% static 'css/joychart.css' %}"> -->


  <link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">
  <script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}" ></script> 

  <!--SPIN-->
  <script src="{% static 'lib/js/spin.js' %}"></script>

  <script src="{% static 'dist/leaflet.contextmenu.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/sfmta-demo.css' %}"/> <!-- IMPORTANTE -->
  <link rel="stylesheet" href="{% static 'css/graphs.css' %}"/> <!-- IMPORTANTE -->
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">CrimAnalyzer: São Paulo Crime Data Analysis</a>
      </div>

      <div class="nav navbar-nav navbar-left" id="loadingdiv"> </div>

      <div class="navbar-right" style="margin-right: 10px; font: sans-serif; font-size: medium; margin-top: 13px;">
        <div id="menu" style="">
          <label style="color: #fff;  font-weight: normal;"> Dataset:  </label>
          <select onchange="activateButton()" id="dataset"  style="" ="font: sans-serif">
            <option value="roubo" selected="selected">Roubo</option>
            <option value="roubov">Roubo Veículo</option>
            <option value="furto">Furto</option>
          </select>   
          <label style="color: #fff; font-weight: normal;"> Discretization:  </label>
          <select onchange="activateButton()" class="selectpicker" id="TypeDiscretization" onchange="" style="font: sans-serif">
            <option value="1">Month</option>
            <option value="0">Day</option>
            
          </select> 
          <label style=" color: #fff; font-weight: normal; "> Number of Hotspots:  </label>
          <input  onchange="activateButton()" type="number" value="3" style="width:40px; " id="numberOfHotspots">

                   <button id="mainButton"onclick="main()" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-play"></span>
                  </button> 

                </div>
     </div>

    </div>
  </div>

  <div class="container-fluid" >
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-stage" style="height: 420px; ">
                <div id="map" style="bottom: 0px;  height: 100%;  left: 0px;  position: absolute;  right: 0px;  top: 0px;  width: 100%;">
                      
                </div>
                <div id="color" style="background-color: rgba(255,255,255,0.5);" >
                  
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-sm-12" >
            <div class="chart-wrapper">
              <div class="chart-stage" style="height: 420px;">
                <div id="map" style="height:100%; width:100%"></div>
                <div id="color" style="background-color: rgba(255,255,255,0.5);" >
                  
                </div>

              </div>
            </div>
          </div> -->
          <!-- Time Chart --> 

          <!-- Brand -->
         <!--  <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Brand
              </div>
              <div class="chart-stage">
                <div id="phone-brand-row-chart"></div>
              </div>
            </div>
          </div> -->

        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12"> 
            <div class="chart-wrapper">
              <div class="chart-title">
                <a id="patterExtraction" onclick="" href="javascript:HotspotDetection()">Hotspot Detection</a>
                <!--<a onclick="updateCumulative()" >crear</a>
                <a onclick="updateCumulativeViewRemove()" >Eliminar</a> -->
              </div>
              <div class="chart-stage">
                <!--<div id="hotspotDiv" style="width: 400px; height: 380px"></div> -->
                <div id="father" style="height: 380px; overflow-x: auto;" class="chart-stage">
                  <div id="patternDiv"   style=" height: 370px; width:2000px; overflow-x: auto; ">
                    <!--<div id="multidimensionalprojection" style=" height: 450px;"></div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <div class="col-sm-7"> 
        <div class="chart-wrapper" style="opacity: 1">
          <div class="chart-stage" >
            <div id="timeline" style="height: 150px; "></div>
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-2"> 
        <div class="chart-wrapper">
          <div class="chart-stage">
            <div id="cumulativeBarChart" style="height: 150px">
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-2"> 
        <div class="chart-wrapper">
          <div class="chart-stage">
            <div id="cumulativeBarChart_Day" style="height: 150px">
            </div>

          </div>
        </div>
      </div>

       <div class="col-sm-1"> 
        <div class="chart-wrapper">
          <div class="chart-stage">
            <div id="cumulativeBarChart_Period" style="height: 150px">
            </div>
          </div>
        </div>
      </div> -->


      <div class="col-sm-5"> 
        <div class="chart-wrapper">
          <div class="chart-stage">
            <div id="Total_Cumulative_BarChart" style="height: 150px">

            </div>

          </div>
        </div>
      </div>



      
      <div class="col-sm-12"> 
        <div class="chart-wrapper">
          <div class="chart-stage">
            <div id="rankingTypeView" style="height: 150px"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-12"> 
        <div class="chart-wrapper">
          <div class="chart-stage">
            <div id="sunBarChart" style="height: 300px"></div>
          </div>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12"> 
            <div class="chart-wrapper">
              <div class="chart-title">
                Temporal Site View
              </div>
              <div class="chart-stage" style=" overflow-y: auto;">
                <div id="temporalSiteView" style="height: 280px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12"> 
            <div class="chart-wrapper">
              <div class="chart-title">
                Temporal Type View
              </div>
              <div class="chart-stage" style=" overflow-y: auto;">
                <div id="temporalTypeView" style="height: 280px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <hr>
  <p class="small text-muted">Built with by <a href="https://keen.io">myLink</a></p>

  <script src="{% static 'js/utilitario.js' %}"></script>
  <script src="{% static 'js/toydata.js' %}"></script>
  
  <script src="{% static 'lib/js/chroma.js' %}"></script>

  <script type="text/javascript" src="{% static 'lib/js/d3-scale-chromatic.v0.3.min.js' %}" ></script>

  <!-- leaflet -->
  <script type="text/javascript" src="{% static 'lib/js/leaflet.draw.js' %}" ></script>
  <script type="text/javascript" src="{% static 'lib/js/leaflet.buffer.js' %}" ></script>
  <script type="text/javascript" src="{% static 'lib/js/leaflet.buffer.min.js' %}" ></script>
  <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" >  </script>
  <script type="text/javascript" src="{% static 'dist/leaflet-heat.js' %}" ></script>

  <script type="text/javascript" src="{% static 'lib/js/d3.svg.ribbon.js' %}" ></script>
  <script src="{% static 'lib/js/jquery.min.js' %}"></script>
  <script src="{% static 'lib/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/js/underscore-min.js' %}"></script>
  <script src="{% static 'lib/js/crossfilter.js' %}"></script>
  <!-- <script src="{% static 'lib/js/d3.min.js' %}"></script>
  <script src="{% static 'lib/js/dc.min.js' %}"></script> -->
  <script src="{% static 'lib/js/queue.js' %}"></script>
  <!--<script src="{% static 'lib/js/leaflet.js' %}"></script>
  <script src="{% static 'lib/js/leaflet-heat.js' %}"></script> -->
  <script src="{% static 'lib/js/keen.min.js' %}"></script>

  <!-- My diagrms-->
  <script src="{% static 'js/timeSeriesChart.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/barChart.js' %}" type="text/javascript"></script>
  <!-- my javascript -->
  <script src="{% static 'js/map.js' %}" type="text/javascript"></script> <!--Map Visualization-->
  <script src="{% static 'js/main.js' %}" type="text/javascript"></script> <!--temporal Data extraction-->
  <script src="{% static 'js/diagram3.js' %}" type="text/javascript"></script>
</body>
</html>
